h2 the file is no longer shared

p Whoever sent you this link is no longer sharing the file.  Please ask the person who share this link with you to reshare the file and provide you with a new link.

P Protip: Whenever the sharer navigates away from the #{title} page, his or her files are no longer shared.  