p Welcome to #{title}, the easy one stop way to drag and drop a file to share in mere seconds. 

#step1.active 1. Drag File(s) Into Browser
#dropbox
  #step2 2. Drop File(s) Here

button(id:"shareButton") Share
button(id:"connectButton") Connect

p= env

