script(src='/javascripts/main.js', type='text/javascript')
script(src='/javascripts/binary-base64.js', type='text/javascript')
script(src='/javascripts/server-comm.js', type='text/javascript')

#dropbox
  #step 1. Drag File Into Browser
#fileListBox
  h2 Shared Files
  ul(id:"fileList")

p#instructions
  | Drag a file that you want to share into the box and we will create a unique URL. You 
  | can share that URL with friends or use it on another computer to transfer the file.

br
div(id:"shareDialog", title:"Share File")
  p Pass this URL to your friends
  input#shortenedUrlDisplay(type="text", value="Loading...", size="68", readonly="readonly") 
  a(id:"emailUrl", target:"_blank") send email
