script(src='/javascripts/main.js', type='text/javascript')
script(src='/javascripts/binary-base64.js', type='text/javascript')
script(src='/javascripts/server-comm.js', type='text/javascript')

#dropbox
  #step 1. Drag File Into Browser
#fileListBox
  h2 Shared Files
  ul(id:"fileList")
br
div(id:"shareDialog", title:"Share File")
  p Pass this url out to your friends
  input#shortenedUrlDisplay(type="text", value="Loading...", size="68", readonly="readonly") 
  a(id:"emailUrl", target:"_blank") send email
