!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/redmond/jquery-ui.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', type='text/javascript')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js', type='text/javascript')
    script(src='javascripts/main.js', type='text/javascript')
  body
    #wrapper
      a(href="/", id="header")
        h1 DropNode
      a(href="/about", class="navlink")/about
      #content
        != body
      
      footer
        .advert 
          |Brought to you by 
          a(href:"http://nodeknockout.com/teams/donejs") Team Done.js
        a(href:"http://nodeknockout.com/teams/donejs", target:"nko", title:"Help me win Node.js KO!")
          img(id:"votenodeko", src:"http://nodeknockout.com/images/voteko.png", alt:"Help me win Node.js KO!")

