p.center Looks like your buddy wants to share this file with you. Come get it while it's hot!


#downloadbox
  a.download(href=resource.url) Download It Now
  table
    tr
      th Name
      td= resource.name
    tr
      th Type
      td= resource.type
    tr
      th Size
      td= resource.size
      
      
    
