h2 Supported Browsers

p As of this writing no cross compatibility shunt could be found for mimicing the FileAPI although it is quite possible that they do exist out in the wild (gmail has no problem doing it). In order to use this site to share files you will need one of the following browsers. Any browser should be able to download a shared file.

ul#browsers
  li#chrome 
    a(href="http://www.chromium.org/getting-involved/dev-channel#TOC-Subscribing-to-a-channel", target:'_blank')
      img(src="/images/chrome-icon-20090708.jpg")
    .name Chrome 6+ (currently in dev channel)
  li#firefox 
    a(href="http://www.mozilla.com/en-US/firefox/firefox.html", target:'_blank')
      img(src="/images/firefox_icon.png")
    .name Firefox 3.6+
  li#safari 
    a(href="http://www.apple.com/safari/download/", target:'_blank')
      img(src="/images/icon-safari.png")
    .name Safari 6.0 beta and above
    
  
