body {
  padding: 20px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  background-color: #25404D;
}
#votenodeko {
  border: 0px;
  float: right;
}
#content {
  height: 80%;
}
footer {
  border-top: 1px solid #aaa;
  background-color: #eee;
  text-align: center;
  padding: 10px;
  height: 10%;
  clear: both;
}
#wrapper {
  background-color: #fff;
  border: 1px solid #555;
  padding: 10px;
  margin: 5px 100px;
  color: #555;
  height: 1000px;
}
