body {
  padding: 20px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  background-color:#25404D;
}
#votenodeko{
  border: 0px;
  float: right
}
#content {
  height: 70%;
}
footer{
  border-top: 1px solid #aaa;
  background-color: #eee;
  text-align: center;
  padding: 10px; 
  height: 10%;
  clear:both;
}
#wrapper{
  background-color: #fff;
  border: 1px solid #555;
  padding: 10px;
  margin: 5px 100px;
  color: #555;
  height:600px;
  h1{
    
  }
}

#dropbox{
  border: 1px solid #999;
  background: #ddd;
  passing: 5px;
  margin: 10px;
  height: 90%; 
  p{
    display:block;

  }
  
}

#step1, #step2{
  font-size: 4em;
  text-align: center;
  margin:10px;
  color: #aaa;
}
.active{
  color: #000 !important;
}
#step2{
  margin-top: 10%
}
#dropbox.hilight{
    border: 1px solid #000;
    font-weight: bold;
  }
