body {
  padding: 20px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  background:#fff url(/images/bg.png) repeat-x;
  background-attachment: fixed;
}
#votenodeko{
  position: fixed;
  top:5px;
  right: 5px;
  border: 0px;
}

#content {
  height: 70%;
  padding-left: 60px;
  padding-right: 60px;
}
footer{
  display: block;
  border-top: 1px solid #aaa;
  background-color: #eee;
  text-align: center;
  padding: 10px; 
  clear: both;
}
#wrapper{
  background-color: #fff;
  border: 1px solid #555;
  padding: 10px;
  margin: 5px 100px;
  color: #555;
  clear: both;
  a#header{
    text-decoration: none;
  }
  .center, .download{
    display: block;
    text-align: center;
  }
  h1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 173px;
    background-image: url(/images/dropnode-medium.png);
    text-indent:-6000px;
  }
  .navlink{ 
    float: right;
    display: block;
    padding: 5px;
  }
  
  #downloadbox{
    width: 350px;
    border: 1px solid #555;
    background: #eee;
    margin: 10px auto;
    padding: 5px;  
  }
}

#dropbox{
  border: 1px solid #999;
  background: #ddd;
  padding: 5px;
  height: 280px; 
  margin: 30px 10px;
  p{
    display:block;

  }
  
}

#step{
  font-size: 3em;
  font-family: Verdana, Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 80px 10px;
  color: #000;
}
#dropbox.above{
  background-color: #66CC00;
  border: 4px solid #006600;
}
#dropbox.around{
  background-color: #99FF66; 
  border: 1px solid #006600;
}
#dropbox.hilight{
  border: 1px solid #000;
  font-weight: bold;
}
input#shortenedUrlDisplay{
  font-size: 0.8em;
}  
#fileListBox{
  display: none;
}

#browsers{
  display: block;
  width: 564px ;
  margin-left: auto ;
  margin-right: auto ;
  list-style-type:none;
  li{
    display: block;
    width: 128px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    a{
      text-decoration:none;
    }
  }
}

img{
  border: none;
}
